.flipCountdown {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.flipCardContainer {
  position: relative;
  width: 70px;
  height: 61px;
  perspective-origin: 50% 50%;
  perspective: 300px;
  border-radius: 8px;
  background: var(--dark-desaturated-blue);
  box-shadow: 0px 10px 0 0 var(--very-dark-mostly-black-blue);
}

.flipCardContainer__label {
  margin-top: 26px;
  display: block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--grayish-blue);

  font-size: 0.4375em;
  line-height: 0.5625em;
  letter-spacing: 0.184960625em;
}

.upperCard::after,
.upperCard::before,
.lowerCard::after,
.lowerCard::before,
.flipCard::after,
.flipCard::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  background: var(--very-dark-mostly-black-blue);
  height: 6px;
  width: 6px;
}

.upperCard::after {
  bottom: 0;
  left: 0;
  translate: -50% 50%;
}

.upperCard::before {
  bottom: 0;
  right: 0;
  translate: 50% 50%;
}

.lowerCard::after {
  left: 0;
  translate: -50% -50%;
}
.lowerCard::before {
  right: 0;
  translate: 50% -50%;
}

.flipCard.fold::after {
  left: 0;
  translate: -50% 50%;
}
.flipCard.fold::before {
  right: 0;
  translate: 50% 50%;
}

.flipCard.unfold::after {
  left: 0;
  translate: -50% -50%;
}
.flipCard.unfold::before {
  right: 0;
  translate: 50% -50%;
}

.upperCard,
.lowerCard {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: inherit;
  overflow: hidden;
}

.upperCard span,
.lowerCard span,
.flipCard span {
  font-size: 2.25em;
  font-weight: 700;
  color: var(--soft-red);
}

.upperCard {
  align-items: flex-end;
  border-bottom: 1px solid var(--very-dark-mostly-black-blue);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.upperCard span {
  transform: translateY(50%);
}

.lowerCard {
  align-items: flex-start;
  border-top: 1px solid var(--very-dark-mostly-black-blue);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.lowerCard span {
  transform: translateY(-50%);
}

.flipCard {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
}

.flipCard.unfold {
  top: 50%;
  align-items: flex-start;
  transform-origin: 50% 0%;
  transform: rotateX(180deg);
  background-color: inherit;
  border-top: 1px solid var(--very-dark-mostly-black-blue);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.flipCard.unfold span {
  transform: translateY(-50%);
}

.flipCard.fold {
  top: 0%;
  align-items: flex-end;
  transform-origin: 50% 100%;
  transform: rotateX(0deg);
  background-color: inherit;
  border-bottom: 1px solid var(--very-dark-mostly-black-blue);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.flipCard.fold span {
  transform: translateY(50%);
}

.fold {
  animation: fold 0.6s var(--easing) 0s 1 normal forwards;
  transform-style: preserve-3d;
}

.shadow {
  animation: shadow 0.6s var(--easing) 0s 1;
  transform-style: preserve-3d;
}

.unfold {
  animation: unfold 0.6s var(--easing) 0s 1 normal forwards;
  transform-style: preserve-3d;
}

@keyframes fold {
  0% {
    transform: rotateX(0deg);
    filter: brightness(1);
  }
  100% {
    transform: rotateX(-180deg);
    filter: brightness(0);
  }
}

@keyframes unfold {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes shadow {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.4);
  }
}

@media (min-width: 768px) {
  .flipCountdown {
    gap: 32px;
  }

  .flipCardContainer {
    width: 148px;
    height: 140px;
  }

  .flipCardContainer__label {
    margin-top: 26px;
    font-size: 0.875em;
    line-height: 1.1875em;
    letter-spacing: 0.369921875em;
  }

  .upperCard::after,
  .upperCard::before,
  .lowerCard::after,
  .lowerCard::before,
  .flipCard::after,
  .flipCard::before {
    height: 12px;
    width: 12px;
  }

  .upperCard span,
  .lowerCard span,
  .flipCard span {
    font-size: 5em;
  }
}
